body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: #faf8ef;
    color: #8f7a66;
}

h1.title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}

#container {
    width: 530px;
}

#header {
    height: 40px;
}

.scoresContainer {
    float: right;
    text-align: right;
}

.movesContainer { 
    position: relative;
    display: inline-block;
    background: #8f7a66;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
    text-transform: uppercase;
}

.scoreContainer {
    position: relative;
    display: inline-block;
    background: #8f7a66;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
    text-transform: uppercase;
}

#game-container {
    width: 500px;
    height: 500px;
    padding: 15px;
    border-radius: 6px;
    background: #bbada0;
    margin-top: 40px;
}

#grid-container {
    /* display: grid; */
    text-align: center;
    border-radius: 6px;
    width: 500px;
    height: 500px;
}

.grid-row {
    
}

.grid-cell {
    text-align: center;
    border-radius: 6px;
    background: #eee4da59;
    float: left;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 55px;
}

/* Bottom buttons (Start, Restart, Resize) */
#buttons {
    width: 530px;
    height: 70px;
}

#start {
    float: left;
}

#startButton {
    
}

#resize {
    float: right;
}

.resizeInput {
    display: inline-block;
}

.button {
    text-decoration: none;
    box-shadow: 0px 10px 14px -7px #6c5746;
    text-shadow:0px 1px 0px #786350;
    background-color:#8f7a66;
    border-radius: 6px;
    cursor: pointer;
    color:#f9f6f2;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 50px;
    margin-top: 15px;
    display: inline-block;
}

.button:hover {
    transform: scale(1.1) perspective(0.5px)
}

/* https://www.w3schools.com/css/css_attribute_selectors.asp* */
input[type=text]{
    width: 20px;
    text-align: center;
    height: 30px;
    margin-right: 20px;
}

.messageBox {
    position: absolute;
    width: 500px;
    margin: auto;
    height: 300px;
    top: 200px;
}